<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <h3>Listado de personas y de características</h3>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <h4>Personas</h4>
        <table id="person_index_table" class="table table-striped table-bordered dt-responsive nowrap">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {{persons}}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h4>Caracteristicas</h4>
        <table id="feature_index_table" class="table table-striped table-bordered dt-responsive nowrap">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {{features}}
            </tbody>
        </table>
    </div>
</div>
