<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <br>
        <h4>Busca el valor de una característica</h4>
        <br>
        <form action="api/person" id="searchForm" class="form-inline">
            <input class="form-control" type="text" name="q" placeholder="Búsqueda..." />
            <input class="btn btn-sm btn-success" type="submit" value="Search" />
        </form>
        <!-- the result of the search will be rendered inside this div -->
        <div id="server-results"></div>
    </div>
</div>
